.footer{
	background-color: black;
	color: white;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	 

}
.header{
	border-bottom: 1px solid #3a3b3d;
	height: auto; 
	padding: 1px;
	position: fixed;
	top:0px; left:0px; right:0px;
	z-index: 9999999999999;
	background-color: #d9dce6;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.menu{
	font-size: 17px;
	font-weight: bold;
}
 
.logo{
	font-size: 37px;
	font-weight: bold;
}

.icerik{
	margin-top: 173px;

}
.sol-1{
 
 	border: 1px solid #3a3b3d;
	margin-bottom: 20px;
	margin-left: 10px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
	.sol-1:hover {
			  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
.sol-2{
	 
	border: 1px solid #3a3b3d;
 	height: auto;
	margin-left: 10px; 
	margin-bottom: 20px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sol-2:hover {
			  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
 
.sol-3{
	 
 	/*border: 1px solid #3a3b3d;*/
 	height: auto;
	margin-left: 10px; 
	margin-bottom: 20px;
	height: 200px;

}

.arka-plan{
	   	background-color: #cae8ca;
	   	border-bottom:  2px solid #4CAF50;
	   	padding: 5px;
	   	text-indent: 10px;
}
 
.form{
	padding: 10px;

}
.sabit{
	 top: 120px;
	border: 1px solid #3a3b3d;
	 height: auto;
 	margin-bottom: 20px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	position: sticky;
 	background-color: #d9dce6;
 	}
	.sabit:hover {
			  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}


 	.sabit2{
	 
	border: 1px solid #3a3b3d;
	height:400px;
 	margin-bottom: 20px;
 	}

.form label {
	color: #6e0f0f;
	font-weight: bold;
}

.banner{
	text-align: center;
 	position: relative;
 	height: 100px;
	background-color: #008000;

}
 
 .bilgi{
 	font-weight: bold;
 	padding-top: 80px;
 	text-align: center;
 }
 .info{
 		font-weight: bold;
 	    padding: 5%;
 }
 .dersler{
 	padding:20px 0px 0px 20px;
 	font-size: 20px;
 }



 .basarili{
 	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index:999999999999999999!important; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	  padding-top: 40px;
 }
 .basarili-icerik{
 	  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 35%!important; /* Could be more or less, depending on screen size */
  -webkit-box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
-moz-box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
 }